*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: lightgoldenrodyellow;
}

.container {
    width: 800px;
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 10px; 
    /* box-shadow: 0 0 10 2px; */
} 

#question-container {
    background-color: white;
}

#timer {
    text-align: right;
    font-size: 1.5rem;
    padding: 10px 20px;
} 

#title {
    text-align: Left;
    font-size: 1.5rem;
    padding: 10px 20px;
    
}

#question {
    text-align: center;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.btn {
    border: 1px solid gray;
    background-color: lightsteelblue;
    border-radius: 5px;
    padding: 5px 10px;
}

.btn:hover {
    border-color: black;

}

.start-btn, .next-btn {
    font-size: 0.75rem;
    font-weight: bold;
    padding: 10px 20px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .hide {
    display: none;
} */

